/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  /* this column will span one-third */
  width: 32%;
}

.col-2 {
  /* this column will span two-thirds */
  width: 66%;
}

.col-3 {
  /* this column will span all the entire wrapper */
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

.first {
  margin-left: 0;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}
